# Cognito Configuration
NEXT_PUBLIC_COGNITO_CLIENT_ID=
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_AWS_REGION=us-east-1

# Backend Configuration
BACKEND_LAMBDA_FUNCTION_NAME=bbt-list-BackendFunction-dev

# AWS Role configuration (only needed in production / Vercel environment)
# AWS_ROLE_ARN=arn:aws:iam::123456789012:role/bbt-list-vercel-oidc-role-dev
