# Cognito Configuration
NEXT_PUBLIC_COGNITO_CLIENT_ID=
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_AWS_REGION=us-east-1

# Backend Configuration
BACKEND_LAMBDA_FUNCTION_NAME=bbt-list-BackendFunction-dev

# Set this in Vercel to enable OIDC
AWS_ROLE_ARN=
